DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=my_mail@domain.com
EMAIL_PASSWORD=<app-token-without-spaces>
EMAIL_FROM=my_mail@domain.com
CRON_HOUR=0
CRON_MINUTE=5